{% extends "base.html" %}
{% block title %}Calendario{% endblock %}
{% block content %}
<div class="container-7 text-white bg-dark" id="content">
    <div class="row m-2 justify-content-end">
        <div class="col-2 text-start"> <!-- EL TIEMPO, anochecer y amanecer -->
            <h6>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-high" viewBox="0 0 16 16">
  <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415"/>
  <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1"/>
            </svg>
                    {{ weather.t_max }}maxº
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-low" viewBox="0 0 16 16">
      <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V9.5a.5.5 0 0 1 1 0v1.585a1.5 1.5 0 0 1 1 1.415"/>
      <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1"/>
                </svg>
                    {{ weather.t_min }}ºmin.<br>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunrise-fill" viewBox="0 0 16 16">
      <path d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707m11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0M11.709 11.5a4 4 0 1 0-7.418 0H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                </svg>
                    {{ weather.sunrise }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunset-fill" viewBox="0 0 16 16">
      <path d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM11.709 11.5a4 4 0 1 0-7.418 0H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10m13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                </svg>
                    {{ weather.sunset }}
            </h6>
        </div>
        <div class="col text-start"> <!-- logo tiempo -->
            <img src="http://openweathermap.org/img/wn/{{weather.icon}}.png" alt="">
        </div>
        <div class="col text-end"><img class="img-fluid" style="width:50px; height:50px;" src="static/img/{{img}}.png" }} alt="un dibujo de un animal"></div>
        <div class="col color text-start" >
            <h2>{{month}}</h2>
        </div>
    </div>
    <div class="row mt-2 mx-2 mb-0 justify-content-center" > <!-- días de la semana y almuerzo-->
        {% for day in week %}
            <div class="col text-center">
                <h4>{{day.0}} {{ day.1 }}</h4>

            </div>
        {% endfor %}
    </div>
    <div class="row mx-2" style="max-height: 150px;"> <!-- dias y eventos diarios -->
        {% for day in semanas[0] %}
            <div class="col border border-2 pb-0" style="min-height: 160px;">
                <div class="row-2">
                {% if day.day == today %} <!-- EL dia de hoy se marca en rojo -->
                    <h4 class="text-left text-danger">{{day.day}}</h4>
                {% else %} <!-- el resto no -->
                    <h4  class="text-left">{{day.day}}</h4>
                {%endif%}
                {% for day_with_events in events %}
                    {% if day_with_events == day.day %}
                        {% for event in events[day_with_events][:2] %}
                                 <p class="fs-6 fw-lighter mx-0 lh- text-truncate d-block truncado lh-1" style="recortar-texto; " title="{{event.name}}"><strong>{{event.name}}</strong></p>
                        {%endfor%}
                    {% endif %}
                {% endfor %}
                    {% for day_with_events in events %}
                    {% if day_with_events == day.day %}
                    <p style="line-height: 0.2;magin-top:-5;" class="mb-0">
                        {% for event in events[day_with_events][2:] %}
                        🔴
                        {%endfor%}
                    </p>
                    {% endif %}
                {% endfor %}
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="row m-2" style="min-height: 180px;">
        {% for day in semanas[1] %}
            <div class="col border border-2 m" style="min-height: 160px;">
                    <h5 class="text-center">{{day.day}}</h5>
                {% for day_with_events in events %}
                    {% if day_with_events == day.day %}
                        {% for event in events[day_with_events][:2] %}
                                 <p class="fs-6 fw-lighter mx-0 lh- text-truncate d-block truncado lh-1" style="recortar-texto; " title="{{event.name}}"><strong>{{event.name}}</strong></p>
                        {%endfor%}
                    {% endif %}
                {% endfor %}
                {% for day_with_events in events %}
                    {% if day_with_events == day.day %}
                    <p style="line-height: 0.2;magin-top:-5;" class="mb-0">
                        {% for event in events[day_with_events][2:] %}
                        🔴
                        {%endfor%}
                    </p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>



<!--    <div class="row m-2">-->
<!--        {% for i in range(7) %}-->
<!--        <div class="col">-->
<!--            <h6>-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fork-knife" viewBox="0 0 16 16">-->
<!--  <path d="M13 .5c0-.276-.226-.506-.498-.465-1.703.257-2.94 2.012-3 8.462a.5.5 0 0 0 .498.5c.56.01 1 .13 1 1.003v5.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5zM4.25 0a.25.25 0 0 1 .25.25v5.122a.128.128 0 0 0 .256.006l.233-5.14A.25.25 0 0 1 5.24 0h.522a.25.25 0 0 1 .25.238l.233 5.14a.128.128 0 0 0 .256-.006V.25A.25.25 0 0 1 6.75 0h.29a.5.5 0 0 1 .498.458l.423 5.07a1.69 1.69 0 0 1-1.059 1.711l-.053.022a.92.92 0 0 0-.58.884L6.47 15a.971.971 0 1 1-1.942 0l.202-6.855a.92.92 0 0 0-.58-.884l-.053-.022a1.69 1.69 0 0 1-1.059-1.712L3.462.458A.5.5 0 0 1 3.96 0z"/>-->
<!--</svg>-->
<!--                : Arroz con tomate y huevo.</h6>-->
<!--            <h6>-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">-->
<!--  <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>-->
<!--  <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>-->
<!--</svg>-->
<!--                : Acelgas.</h6>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->

<!--    TODO: Cambiar cómo se organizan los eventos y organizarlos por días.
        TODO: Buscar una forma de mostrar el calendario de comidas y desarrollar un modo de subirlo desde el móvil-->

    <div class="row-6 m-2">
        <div class="col-3 m-2">
            <h1>{{today}} {{month}}</h1>
        </div>
        <div class="col-3 m-2 p-2">
             {% for day_with_events in events %}
                {% if day_with_events == today %}
                    {% for event in events[day_with_events] %}
                        <ul>
                            <li>{{event.time}} <strong> {{ event.name}} </strong></li>
                        </ul>
                    {%endfor%}
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
</div>
